annoy==1.17.3
elasticsearch==8.16.0
faiss==1.5.3
flair==0.14.0
gensim==4.3.0
hnswlib==0.8.0
nltk==3.8.1
numpy==2.2.0
pandas==1.5.3
recommonmark==0.7.1
Requests==2.32.3
rich==13.9.4
scikit_learn==1.4.2
scikit_learn==1.2.2
scipy==1.11.4
setuptools==68.2.2
Sphinx==5.0.2
tensorboardX==2.6.2.2
torch==2.5.1
tqdm==4.65.0
transformers==4.47.0
